

<div class="row">
  <div class="jumbotron col-md-6 offset-md-3 front-jumbo">
    <h2>Welcome To The Idea Factory!</h2>
    <br>
    <p>The idea factory is your best choice for finding projects to work on, and for submitting your best ideas to be voted on by a community of like minded professionals. You can also find people to joint venture with, and maybe build something a little out of your comfort zone!</p>
    <h3><%= link_to('The Factory Line', ideas_path) %></h3>
  </div>
</div>
